@using System.Text.RegularExpressions

@{
    Layout = "_Layout";
    var urlPath = Regex.Match(Context.Request.Path, @"/stores/([^/]+)").Value + "/plugins/branta";
}

@section PageHeadContent {
    @RenderSection("PageHeadContent", required: false)
}

@section PageFootContent {
    @RenderSection("PageFootContent", required: false)
}

<div class="mt-1 mb-4" style="width: 350px">
    @Html.Partial("Branta/_Logo")
</div>

<nav id="SectionNav" class="mb-3">
    <div class="nav">
    <a href="@urlPath" class="nav-link @((string)ViewData["BrantaSettingsActiveTab"] == "EditBranta" ? "active" : "")" role="tab">Settings</a>
    <a href="@urlPath/logs?page=1" class="nav-link @((string)ViewData["BrantaSettingsActiveTab"] == "ViewLogs" ? "active" : "")" role="tab">Logs</a>
    </div>
</nav>

<div class="settings-body">
    @RenderBody()
</div>
